################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Neuropediatria/v14/.suo
/.vs/config
/Neuropediatria/bin
