<appSettings>
  <!--Validação dos campos-->
  <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  <!--Login-->
  <add key="IdUsuario" value="False" />
  <add key="Segredo" value="neuro" />
  <add key="ChaveMD5" value="False" />
  <add key="LoginAtivo" value="False" />
  <!--Perfil e acessos-->
  <add key="Perfil" value="False" />
  <add key="Relatorios" value="False" />
  <add key="Candidatos" value="False" />
  <add key="Pacientes" value="False" />
  <add key="MeusPacientes" value="False" />
  <add key="Usuarios" value="False" />
</appSettings>