<connectionStrings>
  <add name="conString" connectionString="data source=(localdb)\MSSQLLocalDB; initial catalog=db_neuro;persist security info=True; Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
</connectionStrings>
<!--

<add name="conString" connectionString="data source=(localdb)\MSSQLLocalDB; initial catalog=db_neuro;persist security info=True; Integrated Security=SSPI;" providerName="System.Data.SqlClient" />

<add name="conString" connectionString="Server=11LAB113;Database=db_neuro;User Id=sa; Password=123456;;" providerName="System.Data.SqlClient" />

-->  


